
/* slider root element */
.slider { 
    background:#c4fa09; 
    height:2px; 
    position:relative; 
    cursor:pointer;
    border:1px solid #333;
    width:180px;
    float: right; 
    clear: right;
    margin-top:10px;
     
    /*-moz-box-shadow:inset 0 0 8px #000;*/
    margin: 4px 10px;
}

/* progress bar (enabled with progress: true) */
.progress {
    height:6px; 
    background-color:#C5FF00; 
    display:none;
    opacity:0.6;
}

/* drag handle */
.handle { 
    background:#fff; 
    height:12px;
    width:12px;
    top:-5px;
    position:absolute; 
    display:block; 
    /*border:1px solid #000;*/
    cursor:move;
    -moz-box-shadow:0 0 6px #000;
    -webkit-box-shadow:0 0 6px #000;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;
    border-radius:14px;  

}

/* the input field */
.range {
    border:1px solid #ddd;
    float:left;
    font-size:20px;
    margin:0 0 0 15px;
    padding:3px 0;
    text-align:center;
    width:50px;
    -moz-border-radius:5px; 
    -webkit-border-radius:5px;      
}

