body {
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg);
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Maven Pro', cursive;
    /*color: ;*/
}

#top {
    width: 100%;
    height: 70px;
    background: url(../img/bg-header.jpg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: inline;
    border-bottom: 2px solid #c4fa09;
}

#white-spot {
    width: 1024px;
    height: 455px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -512px;
    background: url(../img/white-spot.png) no-repeat;
    z-index: 1;
}

#logo {
    float: left;
}

#html5 {
    float: right;
    margin: 0 10px 0 0;
}

#all{
	width:870px;
	height:550px;
	display: block;
	margin: 120px auto;
	z-index: 3;
	position: relative;
}
.bar{
	background:#353638;
	display:block;
	width:280px;
	margin:5px;
	padding:5px; 
	text-align:left;
	font-weight: bold;
}
.b{
	float:right;
}
#cont{
	background:#000;
	/*position:relative;
	display:none;*/
	display:block;
	margin: 10px;
	padding:10px;
	width:500px;
	height:500px;
	float:left;
}
.op{
	display:block;
	padding:5px;
}
.gp{
	float:right;
	background:#000;
	display:block;
	width:310px;
	margin:10px;
}
.gpr{
	float:right;
	background:#0f0f11;
	display:block;
}
.gps{
	float:right;
	background:#0f0f11;
	display:block;
	padding: 0 10px 10px;
}
#slide{
	background:#000;
	display:block;
	padding:5px;
	width:840px;
	height:85px;
	float:left;
	overflow: auto;
}
#group{
	display:block;
	margin:auto;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	padding: 10px 0;
}
#pp{
	display:none;
	margin-bottom: 10px;
}

#rtd {
    margin-bottom: 10px;
}
.thumbnail{
	display:block;
	float:left;
	height:60px;
	width:60px;
	background:#FFF;
	border:1px solid #0f0f11;
	margin-top:2px;
	cursor: move;
}
.between{
	display:block;
	float:left;
	height:60px;
	width:20px;
	background:#000;
	margin-top:2px;		
}
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
